RewriteEngine On
RewriteBase /
RewriteCond $1 !^(index\.php|assets|assets/css|assets/js|assets/etc|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

FileETag None
Header unset ETag
